<% if @client.errors.any? %>
	<div id="error_explanation">
		<h3>O formulario possui os seguintes erros:</h3>

	</div>
<% end %>
<panel>
<%= form_for @client do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
			<%= error_tag @client, :name %>
    </div>
		<div>
			<%= f.label :cpf, "CPF" %>
    	<%= f.text_field :cpf %>
  		<%= error_tag @client, :cpf %>
		</div>

	 <div class="field">
		 <%= f.label :location %>
		 <%= f.text_field :location %>
		 <%= error_tag @client, :location %>
	 </div>

		<div class="field">
			<%= f.label :salary %>
			<%= f.number_field :salary %>
			<%= error_tag @client, :salary %>			
		</div>
  <div class="row">
    <div class="span1 actions">
       <%= f.submit :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>
</panel>
