<% if @product.errors.any? %>
	<div id="error_explanation">
		<h2>O formulario possui os seguintes erros:</h2>
		<ul>
			<% @product.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>
<panel>
<%= form_for @product do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <%= f.label :price %>
    <%= f.number_field :price %>


    <%= f.label :mark %>
    <%= f.text_field :mark %>

    <%= f.label :description%>
    <%= f.text_area :description %>
  <div class="row">
    <div class="span1 actions">
       <%= f.submit :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>
</panel>
