<%= form_for(@sale) do |f| %>
  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% @sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %>
    <%= f.text_field :value, :value => @sale.products.sum(:price) %>
  </div>

  <div class="field">
    <%= f.label :client_id %>
    <%= f.select :client_id, Client.all.collect {|c| [c.name, c.id]}, include_blank: true %>
  </div>

<br/>
  <%= f.label :products %>
  <% for product in Product.all %>
  <div >
    <%= check_box_tag "sale[product_ids][]", product.id, @sale.products.include?(product) %>
    <%= product.name %> -
    <%= product.price %>
  </div>
  <% end %>
<br/>

  <div class="field">
    <%= f.label :installments %>
    <%= f.text_field :installments %>
  </div>


  <div class="row">
    <div class="span1 actions">
       <%= f.submit :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>
