<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @sale.value %>
</p>

<p>
  <strong>Product:</strong>
  <%  @sale.products.each do |product| %>
    <li><%= product.name%></li>
  <% end %>
</p>

<p>
  <strong>Client:</strong>
  <%= @sale.client.name %>
</p>

<p>
  <strong>Installments:</strong>
  <%= @sale.installments %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
